@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#651FFF;
    --section-padding:100px 0px;
}


body{
    font-family: "Poppins", serif;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

h2{
    font-size: 25px;
    font-weight: 600;
}

h3{
    font-size: 22px;
    font-weight: 600;
}

/* Default class */
.word-color{
    color: var(--primary-color);
}

/* Section */

.banner,
.banner-bottom,
.lightning,
.design{
    padding: var(--section-padding);
}


/* Banner */
.banner{
    background-color: #EBE5FA;
}

/* lightning */

.lightning-wrapper > div > div > div{
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 30px;
    padding: 70px 40px;
}

/* design */

.design-wrapper > div > div:first-child > div,
.design-wrapper > div > div:last-child > div{
    padding: 60px 60px 0px 60px;
    border-radius: 30px;
}

.design-wrapper > div > div:first-child > div{
    background-color: #FFF7ED;
}

.design-wrapper > div > div:last-child > div{
    background-color: #E0F7FA;
}
.design-wrapper > div > div{
    padding: 60px 60px 0px 60px;
}

.design-wrapper > div > div img{
    width: 50%;
}

.design-team-wrapper{
    background-color: #ECECFE;
    padding: 60px;
    border-radius: 30px;
}

.design-team-wrapper img{
    width: 50%;
}



@media only screen and (min-width: 992px) {
    h1{
      font-size: 45px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 35px;
    }

    .design h1{
        margin-bottom: 100px;
    }

    .design-wrapper > div > div img{
        width: 100%;
    } 

    .design-team-wrapper img{
        width: 100%;
    }
 }


@media only screen and (min-width: 1100px) {
   h1{
     font-size: 56px;
   }

   h2{
     font-size: 48px;
   }

   h3{
    font-size: 42px;
   }
 


 
}
@media only screen and (min-width: 1100px){
    .container-fluid{
        max-width: 1500px;
    }
}